<mt:setvarblock name="js_include" append="1">
<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor/1.1.5/mt-block-editor.js" type="module"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor/1.1.5/mt-block-editor.css" />

<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor-block-oembed/1.0.1/mt-block-editor-block-oembed.js" type="module"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor-block-oembed/1.0.1/mt-block-editor-block-oembed.css" />

<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor-block-form-element/1.0.2/mt-block-editor-block-form-element.js" type="module"></script>

<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/block.min.js?v=<mt:Var name="mt_block_editor_version" />" type="module" id="mt-block-editor-script" data-mt-block-types="<mt:var name="block_types" to_json="1" encode_html="1">" data-mt-block-type-ids="<mt:var name="block_type_ids" to_json="1" encode_html="1">"></script>
</mt:setvarblock>

<mt:var name="block_editor_extensions{extensions}" setvar="e">
<mt:var name="block_editor_extensions{config}" setvar="c" />
<mt:loop name="e">
  <mt:var name="tmpl" config="$c" />
</mt:loop>
