<mt:setvarblock name="js_include" append="1">
<mt:if name="local_lang_id" eq="en-us">
  <script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/locales/en_us.js?v=<mt:Var name="mt_block_editor_version" />"></script>
<mt:else>
  <script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/locales/<$mt:var name="local_lang_id"$>.js?v=<mt:Var name="mt_block_editor_version" />"></script>
</mt:if>

<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor/1.1.53/mt-block-editor.js?v=<mt:Var name="mt_block_editor_version" />" type="module"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor/1.1.53/mt-block-editor.css?v=<mt:Var name="mt_block_editor_version" />" />

<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor-block-oembed/1.0.6/mt-block-editor-block-oembed.js?v=<mt:Var name="mt_block_editor_version" />" type="module"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor-block-oembed/1.0.6/mt-block-editor-block-oembed.css?v=<mt:Var name="mt_block_editor_version" />" />

<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor-block-form-element/1.0.5/mt-block-editor-block-form-element.js?v=<mt:Var name="mt_block_editor_version" />" type="module"></script>

<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/block.min.js?v=<mt:Var name="mt_block_editor_version" />" type="module"></script>
<script src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/dist/mt-block-editor/1.1.53/register-boilerplate-blocks.js?v=<mt:Var name="mt_block_editor_version" />" type="module" data-blocks="<mt:var name="custom_block_types_json" encode_html="1">" data-block-types="<mt:var name="block_type_ids" to_json="1" encode_html="1">"></script>
</mt:setvarblock>

<mt:var name="block_editor_extensions{extensions}" setvar="e">
<mt:var name="block_editor_extensions{config}" setvar="c" />
<mt:loop name="e">
  <mt:var name="tmpl" config="$c" />
</mt:loop>
