<mtapp:setting
    id="squoosh_enabled_by_default"
    label="<__trans phrase="Enabled By Default">"
>
<input type="checkbox" id="squoosh_enabled_by_default" name="squoosh_enabled_by_default" value="1" <mt:If name="squoosh_enabled_by_default"> checked="checked" </mt:If> />
</mtapp:setting>
