<script
  src="<$mt:var name="static_uri"$>plugins/MTBlockEditor/content-field/dist/index.js?v=<mt:Var name="mt_block_editor_version" />"
  type="module"
  id="mt-block-editor-content-field"
  data-mt-block-editor-configs="<mt:Var name="mt_block_editor_configs" to_json="1" escape="html">"
  data-mt-block-editor-config-label="<__trans phrase="Preset For Movable Type Block Editor" escape="html">"
></script>
